<h1>Welcome, {{userName}}!</h1>

<form>
  <input [(ngModel)]="userName" type="text" name="user">
</form>
<h1>To Do List for {{month}}/{{day}}/{{year}}</h1>
<ul>
  <li [class]="priorityColor(currentTask)" *ngFor="let currentTask of tasks">{{currentTask.description}}<button (click)="editTask(currentTask)">Edit</button></li>
</ul>

<div *ngIf="selectedTask">
  <h3>{{selectedTask.description}}</h3>
  <p>Task Complete? {{selectedTask.done}}</p>
  <h3>Edit Task</h3>
  <label>Enter Task Description:</label>
  <input [(ngModel)]="selectedTask.description" type="text" name="description">
  <label>Enter Task Priority</label><br>
  <input type="radio" [(ngModel)]="selectedTask.priority" name="priority" [value]="1">1 (Low) <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" name="priority" [value]="2">2 (Medium) <br>
  <input type="radio" [(ngModel)]="selectedTask.priority" name="priority" [value]="3">3 (High) <br>
  <button (click)="finishEditing()">done</button>
</div>
